<!-- File: browser-tabs.component.html -->
<div class="browser-tabs-container">
  <div class="browser-tabs-scroll-container">
    <button 
      *ngIf="tabsOverflow" 
      class="tabs-scroll-button tabs-scroll-left" 
      (click)="scrollLeft()"
      [disabled]="tabsContainer?.nativeElement?.scrollLeft === 0"
    >
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
      </svg>
    </button>
    
    <div class="browser-tabs-wrapper" #tabsContainer>
      <div class="browser-tabs">
        <div 
          *ngFor="let tab of tabs; let i = index" 
          class="browser-tab" 
          [class.active]="tab.id === activeTabId"
          [appBrowserTab]="tab.id === activeTabId"
          [tabIndex]="i"
          [style.width.px]="tabWidth"
          (click)="selectTab(tab.id, $event)"
          (mousedown)="startDrag(tab.id, $event)"
        >
          <div class="tab-background"></div>
          <div class="tab-content">
            <span class="tab-title">{{ tab.title }}</span>
            <span class="tab-method" *ngIf="tab.method">{{ tab.method }}</span>
            <button class="tab-close" (click)="closeTab(tab.id, $event)">
              <svg width="16" height="16" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              </svg>
            </button>
          </div>
        </div>
        
        <div class="browser-tab tab-add" (click)="addTab()">
          <div class="tab-background"></div>
          <div class="tab-content">
            <svg width="16" height="16" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    
    <button 
      *ngIf="tabsOverflow" 
      class="tabs-scroll-button tabs-scroll-right" 
      (click)="scrollRight()"
      [disabled]="tabsContainer?.nativeElement?.scrollLeft + tabsContainer?.nativeElement?.clientWidth >= tabsContainer?.nativeElement?.scrollWidth"
    >
      <svg width="16" height="16" viewBox="0 0 24 24">
        <path d="M10.59 6L12 7.41 16.59 12 12 16.59 10.59 18l-6-6z"></path>
      </svg>
    </button>
  </div>
  
  <div class="browser-tabs-content">
    <ng-content></ng-content>
  </div>
</div>